---
import Layout from "../layouts/Layout.astro";
import FeatureCard from "../components/FeatureCard.astro";
import Testimonial from "../components/Testimonial.astro";
import UserResultsCarousel from "../components/UserResultsCarousel.astro";
import { CldUploadWidget } from "astro-cloudinary";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import { transformerModel } from "../utils/transformer/transformerModel";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import UploadWidget from "../components/UploadWidget.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import { getI18n } from "../i18n";
import StyleSelector from "./StyleSelector.astro";
import Loader from "./Loader.astro";
const { currentLocale = "en" } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title="SocialPicAI">
  <main class="container mx-auto md:px-4 md:py-8" id="main-container">
    <Hero />
    <UploadWidget />
    <div id="preview-image-container" style="display: none;" >
      <div id="container-inner">
        <div id="info">
          <h3>Estilo: Aleatorio</h3>
        </div>
        <div id="transform-info" >
          <button id="style-selector-button" style="display: none;" class="w-full dark:hover:bg-purple-700  hover:opacity-80 dark:text-white font-bold py-2 px-4 rounded dark:bg-black m-2">Seleccionar estilos</button>
        </div>
      </div>
    </div>
    <div
      id="results"
      class=" mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      style="display: none;"
    >
      <!-- Los resultados se mostrarán aquí -->
    </div>
    <StyleSelector />
  </main>
  <Loader />
  <UserResultsCarousel />
  <Features />
  <Testimonials />
</Layout>
<style>
  #preview-image-container {
    border: 5px solid red !important;
    padding: 16px;
    height: 620px;
    display: flex;
    gap: 16px;

    > img{
      height: 100%;
      
    }

    #transform-info{
    
      display: flex;
      gap: 16px;

      > button{
        height: 96px;
        padding: 16px;
        border-radius: 16px;
      }
    }

    #buttons-container{
      gap: 16px;
    }
    #info{
      border: 2px solid red;
      height: 475px;
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
    #container-inner{
      border: 2px solid blue;
      width: 100%;
    }

    
  }
</style>
<script>
  import { navigate } from "astro:transitions/client";
  import { transformerModel } from "../utils/transformer/transformerModel";
  import { getCldImageUrl } from "astro-cloudinary/helpers";
  import { facebookPreview } from "../templates/preview";
  import { PreviewsOptions } from "../types/previews.types";
  import { descargarZip } from "../utils/dowloader/downloader";
  import { promtsOptions } from "../configs/promts";
  import { randomState } from "../utils/randomState";

  const dialog = document.querySelector("dialog");
  const widget = document.getElementById("local-widget");
  let downloads: [] = [];
  import { networksFormats } from "../configs/formats";
  let selectedPromt = null;
  // const stylePromts = document.getElementById("select-prompt-container");
  const styleSelectorForm = document.getElementById("style-selector-form");
  const transformInfoContainer = document.getElementById("transform-info");

  // luego creamos una funcion para hacerlo completamnte aleatorio
  let isLoading = false;
  let promt = randomState();
  const loader = document.getElementById("loader");

  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((
      e: CustomEvent<{ info: { public_id: string } }>
    ) => {

      const selectStyle = document.getElementById("style-selector-button");
      selectStyle.style.display = "block";
      const uploadSection = document.getElementById("upload-section");
      uploadSection.style.display = "none";

      const previewImageContainer = document.getElementById("preview-image-container");
      previewImageContainer.style.display = "flex";

     // loader.removeAttribute("style");
      const public_id = e.detail.info.public_id;
      // instancia con la public-ip
      const previewResponse = transformerModel(public_id, promt);
      previewResponse.getImageUrl();
      previewResponse.showTransformerMenu();
      const transformInfoContainer = document.getElementById("transform-info");
      const transformButton = document.createElement("button");
      transformButton.className = "w-full dark:hover:bg-purple-700  hover:opacity-80 dark:text-white font-bold py-2 px-4 rounded dark:bg-black m-2";
      transformButton.textContent = "Transformar";
      transformInfoContainer.appendChild(transformButton);

      // transformButton.disabled = true;
      transformButton.addEventListener("click", () => {
        previewImageContainer.style.display = "none";
        previewResponse.renderPreview();
        loader.removeAttribute("style");
        transformButton.remove();
      });

    }) as EventListener);
  }
  if (styleSelectorForm) {
    promtsOptions.forEach((option) => {
      const stylePromt = document.createElement("div");
      stylePromt.className =
        "w-full dark:hover:bg-purple-700  hover:opacity-80 dark:text-white font-bold py-2 px-4 rounded dark:bg-black m-2";
      stylePromt.innerHTML = option.name;
      stylePromt.addEventListener("click", () => {
        promt = option.value;
        dialog.close();
      });
      styleSelectorForm.appendChild(stylePromt);
    });
  }

 




  
</script>
